streamlit==1.33.0
pandas
scikit-learn
xgboost==1.8.0
lightgbm==4.0.0
optuna==4.4.0
optuna-integration[xgboost]
prophet==1.1.5
cmdstanpy
tensorflow==2.14.0
openpyxl==3.1.2
xlrd==2.0.1
openai==0.28.0
reportlab==4.0.4
Pillow==10.0.0
